html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: #ffc107;
}

nav{
    z-index: 9999;
    position: sticky !important;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.landing-page{
    height: 90vh;
    display: flex;
    align-items: center;
    background: #ffc107;
    overflow: hidden;
    position: relative;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
}

.landing-page::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.03;
    z-index: 2;
}

.landing-page .header{
    z-index: 1;
    position: absolute;
    left: 25%;
    transform: translateX(-25%);
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.landing-page .first{
    width: 400px;
    height: 400px;
    position: absolute;
    right: -100px;
    top: -100px;
    border-radius: 50%;  
    background: rgba(255, 255, 255, 0.87);
    box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
}

.landing-page .second{
    width: 200px;
    height: 200px;
    position: absolute;
    left: -40px;
    bottom: -40px;
    border-radius: 50%;  
    background: rgba(255, 255, 255, 0.973);
    box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
}

.landing-page .first::before{
    content: '';
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    border-radius: 50%;  
    background: #ffc107;
    /* background: rgba(255, 255, 255, 0.068); */
}

.bold{
    font-weight: 500;
}

.mt-6{
    margin-top: 60px;
}

.mb-6{
    margin-bottom: 60px;
}

.margined{
    margin: 20px 0;
}

.project-img{
    height: 100%;background: rgb(255,193,7);
    background: linear-gradient(90deg, rgba(255,193,7,1) 0%, rgba(255,252,0,1) 100%);
}

.project-img img{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width:996px){
    .landing-page .first{
        right: -200px;
        top: -200px;
    }
    .landing-page .second{
        left: -100px;
        bottom: -100px;
    }
}